@charset 'utf-8';

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors and Fonts */

:root {
    color-scheme: light dark;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

/* Base Layout */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

footer {
    padding: 1rem;
}

.full-width {
    width: 100%;
}

/* Display */

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

/* Text */

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.text-big {
    font-size: large;
    font-weight: bold;
}

/* Lists */

.list {
    padding-left: 2rem;
}

.list-unstyled {
    list-style-type: none;
}

/* Navigation */

.navbar-list {
    display: flex;
}

.navbar-link {
    display: block;
    padding: 1rem;
}

/* Margin */

.margin {
    margin: 1rem;
}

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

/* Columns */

.columns {
    columns: 1;
}

@media (min-width: 30rem) {
    .columns {
        columns: 2;
    }
}

@media (min-width: 50rem) {
    .columns {
        columns: 3;
    }
}

/* Buttons */

.button {
    border-radius: 5pt;
    display: inline-block;
    font-size: medium;
    line-height: 1.2;
    padding: 7pt;
    text-decoration: none;
    user-select: none;
    width: fit-content;

    &:hover {
        box-shadow: 0 0 2pt black;
    }
}

.button-red {
    color: white;
    background-color: red;
}

.button-yellow {
    color: black;
    background-color: yellow;
}

.button-green {
    color: white;
    background-color: green;
}

.button-blue {
    color: black;
    background-color: lightskyblue;
}

/* Outlines */

.outline {
    border: 1pt solid black;
}

/* Forms */

.form {
    padding: 1rem;
}

.input {
    margin: 1rem 0 0;
    padding: 1rem;
}

.textarea {
    resize: vertical;
}

/* Search */

.search-box {
    border: 1pt solid;
    border-radius: 7pt;
    display: block;
    padding: 1rem;
    width: 100%;
}

.search-advanced-option {
    width: 10rem;
}

.search-results-item {
    border: 1pt solid;
    border-radius: 5pt;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    overflow: hidden;
}

.search-results-item-left-link {
    background-color: black;
    display: block;
    height: 100%;
    width: 100%;
}

.search-results-item-left-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 70vh;
}

.search-results-item-right {
    padding: 1rem;
}

@media (min-width: 35rem) {
    .search-results-item {
        flex-direction: row;
        height: 15rem;
    }

    .search-results-item-left {
        flex: 1 1 1pt;
    }

    .search-results-item-right {
        flex: 2 2 2pt;
    }

    .search-results-item-left-link {
        display: grid;
        place-items: center;
    }

    .search-results-item-left-image {
        max-height: calc(15rem - 2pt);
    }
}

/* Search Suggestions */

#suggestionList {
    background-color: white;
    border: 1px solid;
    border-top: none;
    width: 100%;
}

.suggestionItem {
    padding: 0.5rem 1rem;
    user-select: none;
}

.suggestionItem:hover, .selectedSuggestion {
    background-color: lightgrey;
}

/* Advanced Search */

#toggleAdvanced, #advancedSearch {
    display: none;
}

#toggleAdvanced + label::before {
    content: "▷";
}

#toggleAdvanced:checked + label::before {
    content: "▽";
}

#toggleAdvanced:checked ~ #advancedSearch {
    display: block;
}

/* Upload Form */

.form-upload {
    max-width: 35rem;
    margin: 0 auto;

    label, input, select, textarea {
        display: block;
        padding: 1rem;
        width: 100%;
    }

    label {
        margin-top: 1rem;
    }

    label:first-of-type {
        margin-top: 0;
    }

    input[type="submit"] {
        display: inline-block;
        width: fit-content;
    }

    textarea {
        resize: vertical;
    }

    .image-preview {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 80vh;
    }
}

/* Image Theater */

.image-theater {
    background-color: black;
    width: 100%;

    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 75vh;
    }
}

.limit-width {
    max-width: 50rem;
    margin: 0 auto;
}

/* Confirm Delete Dialog */

.dialog-confirm-delete {
    border: none;
    border-radius: 0.5rem;
    margin: auto auto;
    padding: 1rem;

    &::backdrop {
        background-color: black;
        opacity: 0.80;
    }
}

/* Image Description */

.image-description > p:not(:first-of-type) {
    margin-top: 1rem;
}
