@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

/* Base Layout */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.footer {
    padding: 1rem;
}

/* Text */

.center {
    text-align: center;
}

.block {
    display: block;
}

details {
    user-select: none;
}

/* Lists */

.list {
    padding-left: 2rem;
}

.list-unstyled {
    list-style-type: none;
}

/* Navigation */

.navbar-list {
    display: flex;
}

.navbar-item, .navbar-link {
    display: block;
    padding: 1rem;
}

/* Pagination */

.pagination-panel, .pagination-button, .pagination-input {
    padding: 1rem;
}

/* Page Elements */

.heading, .content {
    margin: 1rem;
}

.inline-block {
    display: inline-block;
}

.width-10 {
    width: 10rem;
}

/* Margin */

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

/* Columns */

.columns {
    columns: 1;
}

@media (min-width: 30rem) {
    .columns {
        columns: 2;
    }
}

@media (min-width: 50rem) {
    .columns {
        columns: 3;
    }
}

/* Buttons */

.button {
    display: inline-block;
    font-size: medium;
    padding: 0.5rem;
    border-radius: 0.3rem;
    text-decoration: none;
    user-select: none;
}

.button-outline {
    border: 1pt solid;
}

.button-red {
    color: white;
    background-color: red;
}

.button-yellow {
    color: black;
    background-color: yellow;
}

.button-green {
    color: white;
    background-color: green;
}

.button-blue {
    color: black;
    background-color: lightskyblue;
}

/* Forms */

.form {
    padding: 1rem;
}

.input {
    margin: 1rem 0 0;
    padding: 1rem;
}

.input-big {
    font-size: large;
    font-weight: bold;
}

.textarea {
    resize: vertical;
}

.full-width {
    width: 100%;
}

/* Image List */

.image-list {
    display: flex;
}

.image-list-item {
    padding: 1rem;
    vertical-align: middle;
}

/* Search */

.search-box {
    border: 0.1rem solid;
    border-radius: 0.5rem;
    display: block;
    padding: 1rem;
    width: 100%;
}

.search-results-item {
    display: flex;
    flex-direction: row;
    border: 1pt solid;
    border-radius: 5pt;
    margin: 1rem;
}

.search-results-item-left {
    flex: 15rem 1;
}

.search-results-item-right {
    flex: 30rem 2;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.search-results-item-left-image {
    aspect-ratio: 1 / 1;
    background-color: black;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media (max-width: 30rem) {
    .search-results-item {
        flex-direction: column;
    }

    .search-results-item-right {
        flex: auto 0 0;
        height: auto;
    }
}

/* Search Suggestions */

#suggestionList {
    background-color: white;
    border: 1px solid;
    border-top: none;
    width: 100%;
}

.suggestionItem {
    padding: 0.5rem 1rem;
    user-select: none;
}

.suggestionItem:hover, .selectedSuggestion {
    background-color: lightgrey;
}

/* Upload Form */

.form-upload {
    max-width: 35rem;
    margin: 0 auto;
}

.form-upload label,
.form-upload input,
.form-upload select,
.form-upload textarea {
    display: block;
    padding: 1rem;
    width: 100%;
}

.form-upload label {
    margin-top: 1rem;
}

.form-upload label:first-of-type {
    margin-top: 0;
}

.form-upload textarea {
    resize: vertical;
}

.form-upload .image-preview {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 80vh;
}

.form-upload input[type=submit] {
    margin-top: 1rem;
    width: fit-content;
}

/* Confirm Delete Dialog */

.dialog-confirm-delete {
    border: none;
    border-radius: 0.5rem;
    margin: auto auto;
    padding: 1rem;
}

.dialog-confirm-delete::backdrop {
    background-color: black;
    opacity: 0.80;
}

/* Image Theater */

.image-theater {
    background-color: black;
    height: 75vh;
    width: 100%;
}

.image-theater > img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 75vh;
}

.limit-width {
    max-width: 50rem;
    margin: 0 auto;
}
