{% load static %}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/site.css' %}" />
    <script>
        const CSRF_TOKEN = '{{ csrf_token }}';
    </script>
</head>
<body>
    <header>
        <nav>
            <ul class="list-unstyled navbar-list">
                <li>
                    <a href="{% url 'home' %}" class="navbar-link">
                        Search
                    </a>
                </li>
                <li>
                    <a href="{% url 'tags' %}" class="navbar-link">
                        Tags
                    </a>
                </li>
                <li>
                    <a href="{% url 'upload' %}" class="navbar-link">
                        Upload
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <p>
            &copy; 2024 Luke Hamann
        </p>
    </footer>
</body>
</html>
