{% extends '_base.html' %}

{% block title %}
    {{ image.title }}
{% endblock %}

{% block content %}
<div class="image-theater">
    <img src="{% url 'image' image.id %}?format=theater" />
</div>

<div class="limit-width">
    <h2 class="heading">{{ image.title }}</h2>

    <p class="content">
        {{ image.date }}
    </p>
    
    <p class="content">
        <b>Tags:</b>
        {% for tag in image.tags.all %}
            <a href="{% url 'home' %}?q={{ tag.name }}">{{ tag.name }}</a>
        {% endfor %}
    </p>
    
    <p class="content">
        <a href="{% url 'edit' image.id image.slug %}"
            class="button button-yellow">
            Edit
        </a>
        <a href="{% url 'delete' image.id image.slug %}"
            class="button button-red launch-confirm-delete">
            Delete
        </a>
    </p>
    
    <dialog class="dialog-confirm-delete">
        <h2 class="heading">
            Confirm
        </h2>
        <form method="post" action="{% url 'delete' image.id image.slug %}">
            <input type="hidden" name="csrfmiddlewaretoken"
                value="{{ csrf_token }}" />
            <p class="content">
                Are you sure you want to delete "{{ image.title }}"?
            </p>
            <p class="content center">
                <input type="submit" value="Yes" class="button button-red" />
                <button type="button"
                    class="button button-green confirm-delete-cancel">
                    No
                </button>
            </p>
        </form>
    </dialog>

    <script>
        var deleteButton = document.querySelector('.launch-confirm-delete');
        var deleteDialog = document.querySelector('.dialog-confirm-delete');
        var deleteCancelButton = document.querySelector('.confirm-delete-cancel');

        deleteButton.addEventListener('click', () => {
            event.preventDefault();
            deleteDialog.showModal();
        });

        deleteCancelButton.addEventListener('click', () => {
            deleteDialog.close();
        });
    </script>

    {% if image.description %}
        <div class="content">
            {{ image.description|linebreaks }}
        </div>
    {% endif %}
</div>

{% endblock %}
