{% extends '_base.html' %}
{% load static %}

{% block title %}
    Image Site
{% endblock %}

{% block content %}
    <div class="limit-width">
        <h1 class="margin center">
            Image Site
        </h1>
        <form action="." method="get" class="margin">
            <input type="search" name="q" value="{{ query }}" autocomplete="off"
                placeholder="Search" class="search-box" autofocus />
            <div class="margin-top center">
                <input type="submit" value="Go"
                    class="button button-green outline" />
                <input type="checkbox" id="toggleAdvanced" />
                <label for="toggleAdvanced"
                    class="button button-blue outline">
                    Advanced
                </label>
                <div id="advancedSearch" class="margin-top outline left">
                    <div class="margin">
                        <i>
                            Hint: You can type a hyphen before a search term to
                            exclude it.
                        </i>
                    </div>
                    <div class="margin">
                        <div class="inline-block search-advanced-option">
                            Search titles:
                        </div>
                        <div class="inline-block search-advanced-option">
                            <input type="radio" name="include_titles" value="on"
                                id="include_titles_yes"
                                {% if include_titles == 'on' %} checked {% endif %} />
                            <label for="include_titles_yes">
                                yes
                            </label>
                            <input type="radio" name="include_titles" value="off"
                                id="include_titles_no"
                                {% if include_titles == 'off' %} checked {% endif %} />
                            <label for="include_titles_no">
                                no
                            </label>
                        </div>
                    </div>
                    <div class="margin">
                        <div class="inline-block search-advanced-option">
                            Search tags:
                        </div>
                        <div class="inline-block search-advanced-option">
                            <input type="radio" name="include_tags" value="on"
                                id="include_tags_yes"
                                {% if include_tags == 'on' %} checked {% endif %} />
                            <label for="include_tags_yes">
                                yes
                            </label>
                            <input type="radio" name="include_tags" value="off"
                                id="include_tags_no"
                                {% if include_tags == 'off' %} checked {% endif %} />
                            <label for="include_tags_no">
                                no
                            </label>
                        </div>
                    </div>
                    <div class="margin">
                        <div class="inline-block search-advanced-option">
                            Search descriptions:
                        </div>
                        <div class="inline-block search-advanced-option">
                            <input type="radio" name="include_descriptions"
                                value="on" id="include_descriptions_yes"
                                {% if include_descriptions == 'on' %} checked {% endif %} />
                            <label for="include_descriptions_yes">
                                yes
                            </label>
                            <input type="radio" name="include_descriptions"
                                value="off" id="include_descriptions_no"
                                {% if include_descriptions == 'off' %} checked {% endif %} />
                            <label for="include_descriptions_no">
                                no
                            </label>
                        </div>
                    </div>
                    <div class="margin">
                        <div class="inline-block search-advanced-option">
                            Sort by:
                        </div>
                        <div class="inline-block search-advanced-option">
                            <input type="radio" name="sort_by" value="date"
                                id="sort_by_date"
                                {% if sort_by == 'date' %} checked {% endif %} />
                            <label for="sort_by_date">
                                date
                            </label>
                            <input type="radio" name="sort_by" value="title"
                                id="sort_by_title"
                                {% if sort_by == 'title' %} checked {% endif %} />
                            <label for="sort_by_title">
                                title
                            </label>
                        </div>
                    </div>
                    <div class="margin">
                        <div class="inline-block search-advanced-option">
                            Reverse sort:
                        </div>
                        <div class="inline-block search-advanced-option">
                            <input type="radio" name="reverse_sort" value="on"
                                id="reverse_sort_yes"
                                {% if reverse_sort == 'on' %} checked {% endif %} />
                            <label for="reverse_sort_yes">
                                yes
                            </label>
                            <input type="radio" name="reverse_sort" value="off"
                                id="reverse_sort_no"
                                {% if reverse_sort == 'off' %} checked {% endif %} />
                            <label for="reverse_sort_no">
                                no
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="margin">
            {{ page.paginator.object_list.count }}
            result{{ page.paginator.object_list.count | pluralize }}
        </div>
        {% include './_search_paginator.html' %}
        <div class="search-results">
            {% for image in page.object_list.all %}
                <div class="search-results-item">
                    <div class="search-results-item-left">
                        <a href="{% url 'detail' image.id image.slug %}"
                            class="search-results-item-left-link">
                            <img src="{% url 'image' image.id %}?format=search"
                                class="search-results-item-left-image"
                                loading="lazy" /></a>
                    </div>
                    <div class="search-results-item-right">
                        <h2>
                            <a href="{% url 'detail' image.id image.slug %}">
                                {{ image.title }}
                            </a>
                        </h2>
                        <p class="margin-top">
                            {{ image.date }}
                        </p>
                        {% if image.tags.count > 0 %}
                            <p class="margin-top">
                                {% for tag in image.tags.all %}
                                    <a href="?q={{ tag.name }}"
                                        >{{ tag.name }}</a>
                                {% endfor %}
                            </p>
                        {% endif %}
                        {% if image.description %}
                            <p class="margin-top">
                                {{ image.description | truncatechars:70 }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include './_search_paginator.html' %}
    </div>
    <script src="{% static 'js/autocomplete.js' %}"></script>
{% endblock %}
