{% extends '_base.html' %}
{% load static %}

{% block title %}Image Site{% endblock %}

{% block content %}
    <div class="limit-width">
        <h1 class="heading center">
            Image Site
        </h1>
        <form action="." method="get" class="content">
            <input type="search" name="q" value="{{ query }}" autocomplete="off"
                placeholder="Search" class="search-box" autofocus />
            <details class="content">
                <summary>Advanced</summary>
                <div class="content">
                    <span class="inline-block width-10">
                        Search tags:
                    </span>
                    <input type="radio" name="include_tags" value="on"
                    {% if include_tags %} checked {% endif %} />
                    <label>yes</label>
                    <input type="radio" name="include_tags" value="off"
                        {% if not include_tags %} checked {% endif %} />
                    <label>no</label>
                </div>
                <div class="content">
                    <span class="inline-block width-10">
                        Search titles:
                    </span>
                    <input type="radio" name="include_titles" value="on"
                        {% if include_titles %} checked {% endif %} />
                    <label>yes</label>
                    <input type="radio" name="include_titles" value="off"
                        {% if not include_titles %} checked {% endif %} />
                    <label>no</label>
                </div>
                <div class="content">
                    <span class="inline-block width-10">
                        Search descriptions:
                    </span>
                    <input type="radio" name="include_descriptions" value="on"
                        {% if include_descriptions %} checked {% endif %} />
                    <label>yes</label>
                    <input type="radio" name="include_descriptions" value="off"
                        {% if not include_descriptions %} checked {% endif %} />
                    <label>no</label>
                </div>
                <div class="content">
                    <input type="submit" value="Go" class="button" />
                </div>
            </details>
        </form>
        <div class="content">
            {{ images.count }} result{{ images.count | pluralize }}
        </div>
        {% if page.has_other_pages %}
            <div class="content">
                <span>Page:</span>
                {% for i in page.paginator.page_range %}
                    <a href="?q={{ query }}&p={{ i }}" class="button">
                        {{ i }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
        <div class="search-result-list">
            {% for image in images %}
                <div class="search-result">
                    <a href="{% url 'detail' image.id image.slug %}">
                        <img src="{% url 'image' image.id %}?format=thumbnail"
                            loading="lazy" class="search-result-image" /></a>
                    <div class="search-result-description">
                        <div>
                            <a href="{% url 'detail' image.id image.slug %}">
                                {{ image.title }}
                            </a>
                        </div>
                        <div>
                            {% for tag in image.tags.all %}
                                <a href="?q={{ tag.name }}">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if page.has_other_pages %}
            <div class="content">
                <span>Page:</span>
                {% for i in page.paginator.page_range %}
                    <a href="?q={{ query }}&p={{ i }}" class="button">
                        {{ i }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <script src="{% static 'js/autocomplete.js' %}"></script>
{% endblock %}
