{% extends '_base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<div>
    <form action="." method="get">
        <input type="text" name="q" value="{{ query }}" />
        <input type="submit" value="Search" />
    </form>
</div>

{% for image in images %}
    <div>
        <div>
            <a href="{% url 'detail' image.id %}">
                <img src="{% url 'image' image.id %}?format=thumbnail" loading="lazy" />
            </a>
        </div>
        <div>
            {{ image.title }}
        </div>
        </tr>
    </div>
{% endfor %}

{% endblock %}
