{% extends '_base.html' %}

{% block title %}Tags{% endblock %}

{% block content %}
    <div class="limit-width">
        <h1 class="heading">All Tags</h1>

        <p class="content">
            {{ tags.count }} tag{{ tags.count | pluralize }}
        </p>

        {% for tag in tags %}
            <h2 class="heading">
                <a href="{% url 'home' %}?q={{ tag.name }}">{{ tag.name }}</a>
                ({{ tag.image_set.count }})
            </h2>
            <div class="content">
                {% for image in tag.image_set.all|slice:"3" %}
                    <img src="{% url 'image' image.id %}?format=thumbnail" />
                {% endfor %}
                {% if tag.image_set.all.count > 3 %}
                    <div>
                        See more...
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
