{% extends '_base.html' %}

{% block title %}
    All Tags
{% endblock %}

{% block content %}
    <div class="limit-width">
        <h1 class="margin">
            All Tags
        </h1>

        <p class="margin">
            {{ tags.count }} tag{{ tags.count | pluralize }}
        </p>

        {% if tags.count > 0 %}
            <ul class="margin list-unstyled columns">
                {% for tag in tags %}
                    <li>
                        <a href="{% url 'home' %}?q={{ tag.name }}"
                            >{{ tag.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
