{% extends '_base.html' %}
{% load static %}

{% block title %}
    Upload
{% endblock %}

{% block content %}
<h1 class="heading">
    {% if editing %}
        Edit
    {% else %}
        Upload
    {% endif %}
</h1>

<form enctype="multipart/form-data" action="{% url 'upload' %}" method="post" class="upload-form">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>

<script src="{% static 'js/preview_image.js' %}"></script>
<script src="{% static 'js/autocomplete.js' %}"></script>
{% endblock %}
