{% extends '_base.html' %}
{% load static %}

{% block title %}
    Upload
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" action="{% url 'upload' %}"
        method="post" autocomplete="off" class="form form-upload">
        <h1 class="margin center">
            Upload
        </h1>
        {% csrf_token %}
        {{ form }}
        <div class="center margin-top">
            <input type="submit" value="Upload"
                class="button button-blue outline" />
        </div>
    </form>
    <script src="{% static 'js/autotag.js' %}"></script>
{% endblock %}
